.page-title {
  height: 50px;
  padding: 20px 0;
  height: 30px;
  text-align: center;
}

.table-cell {
  padding: 0 0 0 16px;
  color: #ffffff;
  border-bottom-color: #3d4752;
  background-color: #222b36;
}
.header-row {
  height: 57px;
}

tr > .MuiTableCell-root {
  padding: 0 32px;
}

tr > .MuiTableCell-head {
  background-color: #cbcbcb;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}
